 <html>
    <head>
        <title>JobiFy</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link href="/estilos.css" rel="stylesheet">
    </head>
    <body> 
        <h1><a href="/"><img src="/images/eu.png" rel="JobiFy - by Wandelrey" >
           <% if(adm){ %> <img src="/images/congif.jpg" rel="Adm" widht="50px" height="50px" > <% } %> </a></h1>
        <p>We are JobiFy - Join us!</p>